{
  "presets": ["react", "es2015","env","stage-1", "latest"],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",

          "imports": ["react"],

          "locals": ["module"]
        }]
      }],
        ["transform-class-properties"]] // 在类中定义属性
    }
  }
}
